:root {
  --primary-color: #ec5242;
  --primary-light-color: #f86c5d;
  --primary-dark-color: #9b3429;
  --black-color: #272a31;
  --light-black-color: #444;
  --dark-gray: #666565;
  --light-gray: #d3d3d3;
  --white-color: #fff;
  --body: #f7f7f7;

  /*
    --large-font-size: 3rem;
    --medium-font-size: 1.8rem;
    --small-font-size: 1.5rem; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body);
  font-family: "Lato", sans-serif;
}

@font-face {
  font-family: "Cocogoose";
  src: url("../assets/fonts/cocogoose/Cocogoose_trial.otf");
}

h1,
h3,
.footer-content p {
  font-family: Cocogoose, Arial, Helvetica, sans-serif;
}

h1,
h3 {
  background: repeating-linear-gradient(
    45deg,
    var(--primary-color),
    var(--primary-dark-color) 10%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

header {
  background-image: url(../assets/images/header_background.jpg);
  opacity: 0.8;
  background-position: 40% 65%;
  height: 300px;
}

nav {
  height: 100%;
  background-color: rgba(247, 247, 247, 0.8);
}

nav,
main,
.footer-details {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
}

.menu-bar {
  font-size: 2.7rem;
  color: var(--black-color);
}

.tag-line {
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: var(--primary-light-color);
  font-weight: 300;
}

.globe {
  cursor: pointer;
}

.globe:hover {
  transform: rotate(360deg);
  transition: transform 2s ease;
}

.summit-description {
  line-height: 2rem;
  max-width: 800px;
  border: 4px double var(--primary-light-color);
  border-radius: 6px;
  color: var(--dark-gray);
  font-weight: 300;
}

.right-aligned-text {
  top: 550px;
  right: -249px;
  transform: rotate(90deg);
  opacity: 0.4;
}

.right-aligned-text h3 {
  font-size: 3vw;
  letter-spacing: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--body);
  margin-top: 60px;
}

.footer-details {
  padding: 15px;
  display: flex;
  justify-content: flex-start;
}

.footer-logo {
  max-width: 100px;
  margin-right: 2rem;
  height: auto;
}

.footer-content p {
  font-size: 1.8rem;
  color: var(--primary-color);
}

.footer-content small {
  color: var(--dark-gray);
  letter-spacing: 1.5px;
}

@media only screen and (max-width: 360px) {
  h1 {
    font-size: 10vw;
  }

  .tag-line {
    font-size: 6vw;
  }

  .summit-description {
    font-size: 5vw;
  }

  .section-heading {
    font-size: 7vw;
  }
}

@media only screen and (max-width: 768px) {
  header {
    height: 146px;
  }

  .footer-content p {
    font-size: 4vw;
  }
}
