:root {
  --primary-color: #ec5242;
  --primary-light-color: #f86c5d;
  --primary-dark-color: #9b3429;
  --black-color: #272a31;
  --light-black-color: #444;
  --dark-gray: #666565;
  --light-gray: #d3d3d3;
  --white-color: #fff;
  --body: #f7f7f7;

  /*
  --large-font-size: 3rem;
  --medium-font-size: 1.8rem;
  --small-font-size: 1.5rem; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body);
  font-family: "Lato", sans-serif;
}

@font-face {
  font-family: "Cocogoose";
  src: url("../assets/fonts/cocogoose/Cocogoose_trial.otf");
}

h1,
h3 {
  font-family: Cocogoose, Arial, Helvetica, sans-serif;
  background: repeating-linear-gradient(
    45deg,
    var(--primary-color),
    var(--primary-dark-color) 10%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

header {
  background-image: url(../assets/images/header_background.jpg);
  opacity: 0.8;
  background-position: 40% 65%;
  height: 300px;
}

nav {
  height: 100%;
  background-color: rgba(247, 247, 247, 0.8);
}

.menu-bar {
  font-size: 2.7rem;
  color: var(--black-color);
}

.tag-line {
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: var(--primary-light-color);
  font-weight: 300;
}

.globe {
  cursor: pointer;
}

.globe:hover {
  transform: rotate(360deg);
  transition: transform 2s ease;
}

.summit-description {
  line-height: 2rem;
  max-width: 800px;
  border: 4px double var(--primary-light-color);
  border-radius: 6px;
  color: var(--dark-gray);
  font-weight: 300;
}

.summit-date {
  font-weight: 100;
  font-size: 2.8rem;
}

.right-aligned-text {
  top: 550px;
  right: -316px;
  transform: rotate(90deg);
  opacity: 0.4;
}

.right-aligned-text h3 {
  font-size: 3vw;
  letter-spacing: 10px;
}

.main-program h4 {
  color: var(--black-color);
  border-bottom: 4px double var(--primary-color);
  display: inline-block;
}

.program {
  flex: 1;
}

.program ul {
  list-style: none;
}

.program li {
  font-size: 1rem;
  font-weight: 300;
}

.program li:hover {
  color: var(--primary-color);
  font-weight: 400;
}

.program-detail-heading {
  font-size: 1.5rem;
  font-weight: 400;
}

.join-summit-btn {
  border: none;
  border-radius: 6px;
  font-size: 1.3rem;
  color: var(--white-color);
  background-image: linear-gradient(
    to right bottom,
    var(--primary-color),
    var(--primary-dark-color)
  );
  max-width: 400px;
  box-shadow: 0 3px 3px 3px rgba(165, 165, 165, 0.5);
}

.join-summit-btn:hover {
  background-image: linear-gradient(
    to right bottom,
    var(--primary-dark-color) 20%,
    #6b231b
  );
}

@media only screen and (max-width: 360px) {
  h1 {
    font-size: 10vw;
  }

  .tag-line {
    font-size: 6vw;
  }

  .summit-description {
    font-size: 5vw;
  }

  .summit-date {
    font-size: 8vw;
  }

  .main-program h4 {
    font-size: 7vw;
  }

  .img-and-title h5 {
    font-size: 6vw;
  }

  .program-list li {
    font-size: 5vw;
    cursor: pointer;
  }

  .program-list li:hover {
    color: var(--primary-color);
  }

  .program-detail-heading {
    font-weight: 700;
    font-size: 7vw;
  }

  .join-summit-btn {
    font-size: 5vw;
  }
}

@media only screen and (max-width: 768px) {
  header {
    height: 146px;
  }

  .conference-img:hover {
    opacity: 0.6;
  }

  .img-and-title h5 {
    bottom: 0;
    color: var(--white-color);
    background-color: rgba(236, 82, 66, 0.8);
    width: 100%;
  }

  .program-detail {
    background-color: var(--black-color);
    color: var(--white-color);
    border-radius: 6px;
    outline: 4px double var(--body);
    outline-offset: -12px;
  }
}
