.summit-date {
  font-weight: 100;
  font-size: 2.8rem;
  color: var(--light-black-color);
}

.program {
  flex: 1;
}

.program ul {
  list-style: none;
}

.program li {
  font-size: 1rem;
  font-weight: 300;
}

.program li:hover {
  color: var(--primary-color);
  font-weight: 400;
}

.program-detail-heading {
  font-size: 1.5rem;
  font-weight: 400;
}

.join-summit-btn {
  border: none;
  border-radius: 6px;
  font-size: 1.3rem;
  color: var(--white-color);
  background-image: linear-gradient(
    to right bottom,
    var(--primary-color),
    var(--primary-dark-color)
  );
  max-width: 400px;
  box-shadow: 0 3px 3px 3px rgba(165, 165, 165, 0.5);
}

.more-link,
.join-summit-btn {
  max-width: 400px;
  box-shadow: 0 3px 3px 3px rgba(165, 165, 165, 0.5);
  border-radius: 6px;
  font-size: 1.3rem;
}

.join-summit-btn:hover {
  background-image: linear-gradient(
    to right bottom,
    var(--primary-dark-color) 20%,
    #6b231b
  );
}

.featured-speaker {
  margin-top: 100px;
}

.speaker {
  margin-bottom: 79px;
}

.speaker-img-wraper,
.img-frame {
  max-width: 120px;
}

.speaker-image {
  padding-left: 21px;
}

.img-frame {
  top: -29px;
  left: 0;
}

.speaker-name {
  font-size: 1rem;
  font-weight: bold;
}

.speaker-title {
  font-size: 0.8rem;
  font-style: italic;
  color: var(--primary-color);
}

.speaker-description {
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.more-link {
  border: 1px solid var(--dark-gray);
  background-color: var(--body);
  color: var(--light-black-color);
  margin-top: 100px;
  margin-bottom: 150px;
}

.more-link i {
  font-size: 1rem;
  color: var(--primary-color);
}

@media only screen and (max-width: 360px) {
  .summit-date {
    font-size: 8vw;
  }

  .img-and-title h5 {
    font-size: 6vw;
  }

  .program-list li {
    font-size: 5vw;
    cursor: pointer;
  }

  .program-list li:hover {
    color: var(--primary-color);
  }

  .program-detail-heading {
    font-weight: 700;
    font-size: 7vw;
  }

  .join-summit-btn,
  .more-link,
  .more-link i {
    font-size: 5vw;
  }
}

@media only screen and (max-width: 768px) {
  .conference-img:hover {
    opacity: 0.6;
  }

  .img-and-title h5 {
    bottom: 0;
    color: var(--white-color);
    background-color: rgba(236, 82, 66, 0.8);
    width: 100%;
  }

  .program-detail {
    background-color: var(--black-color);
    color: var(--white-color);
    border-radius: 6px;
    outline: 4px double var(--body);
    outline-offset: -12px;
  }
}
