.ticket-header {
  height: 60px;
}

.ticket-page-heading {
  font-family: Lato, Arial, Helvetica, sans-serif;
  color: var(--light-black-color);
  font-size: 1.8rem;
  text-align: center;
  margin-top: 40px;
}

.step-description {
  padding: 0.5rem 1rem;
  display: inline-block;
  border: 1px solid var(--light-gray);
  border-radius: 25px;
}

.circle-icon {
  color: var(--primary-color);
}

.ticket-table {
  height: 250px;
  max-width: 800px;
  margin: 0 auto;
  background-image: repeating-linear-gradient(
    135deg,
    red,
    red 1%,
    white 1%,
    white 2%,
    rgb(0, 0, 109) 2%,
    rgb(0, 0, 109) 3%,
    white 3%,
    white 4%
  );
  padding: 7px;
  position: relative;
}

.ticket-table::after {
  content: " ";
  width: 50%;
  top: 76%;
  left: 25%;
  height: 20%;
  position: absolute;
  box-shadow: 3px 14px 25px 3px rgba(0, 0, 0, 0.6);
  border-radius: 100%;
  z-index: -1;
}

.ticket-selection {
  height: 100%;
  width: 100%;
  background-color: var(--body);
  display: grid;
  grid-template-columns: repeat(2, 2fr) 3fr 2fr;
  z-index: 999;
}

.column-1,
.column-2,
.column-4 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr) repeat(2, 2fr);
}

.column-3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr;
}

.column-1,
.column-2,
.column-3,
.col3-left {
  border-right: 1px solid lightgrey;
}

.ticket-selection p {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid lightgrey;
}

.column-3 .col3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.col3-left,
.col3-right {
  display: grid;
  grid-template-rows: 1fr repeat(2, 2fr);
}

@media only screen and (max-width: 360px) {
  .meal-selection-btn,
  .list-group-item {
    font-size: 5vw;
  }

  .ticket-selection p {
    font-size: 5vw;
  }
}

@media only screen and (max-width: 524px) {
  .step-description,
  .circle-icon {
    font-size: 4vw;
  }

  .ticket-selection p {
    font-size: 3.4vw;
  }
}
