.ticket-header {
  height: 60px;
}

.ticket-page-heading {
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 40px;
}

.ticket-page-heading,
.input {
  color: var(--light-black-color);
}

.step-description {
  padding: 0.5rem 1rem;
  display: inline-block;
  border: 1px solid var(--light-gray);
  border-radius: 25px;
}

.circle-icon {
  color: var(--primary-color);
}

.ticket-table {
  height: 250px;
  max-width: 1000px;
  background-image:
    repeating-linear-gradient(
      135deg,
      red,
      red 1%,
      white 1%,
      white 2%,
      rgb(0, 0, 109) 2%,
      rgb(0, 0, 109) 3%,
      white 3%,
      white 4%
    );
  padding: 7px;
  position: relative;
}

.ticket-table,
.menu {
  margin: 0 auto;
}

.ticket-table::after {
  content: " ";
  width: 50%;
  top: 76%;
  left: 25%;
  height: 20%;
  position: absolute;
  box-shadow: 3px 14px 25px 3px rgba(0, 0, 0, 0.6);
  border-radius: 100%;
  z-index: -1;
}

.ticket-selection {
  height: 100%;
  background-color: var(--body);
  grid-template-columns: 1fr 2fr 3fr 2fr;
  z-index: 999;
}

.ticket-selection,
.card,
.selected-option,
.divider {
  width: 100%;
}

.ticket-selection,
.column-1,
.column-2,
.column-3,
.column-3 .col3,
.col3-left,
.col3-right,
.column-4,
.menu {
  display: grid;
}

.column-1,
.column-2,
.column-4 {
  grid-template-rows: repeat(2, 1fr) repeat(2, 2fr);
}

.column-1,
.column-2,
.column-3,
.column-4 {
  grid-template-columns: 1fr;
}

.column-3 {
  grid-template-rows: 1fr 5fr;
}

.column-1,
.column-2,
.column-3,
.col3-left {
  border-right: 1px solid lightgrey;
}

.ticket-selection p {
  margin-bottom: 0;
  border-bottom: 1px solid lightgrey;
}

.input,
.ticket-selection p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column-3 .col3 {
  grid-template-columns: repeat(2, 1fr);
}

.col3-left,
.col3-right {
  grid-template-rows: 1fr repeat(2, 2fr);
}

.meal-section {
  background-color: #fefefe;
  margin-top: 85px;
}

.page-divider {
  top: -33px;
}

.divider {
  max-width: 65px;
}

.card {
  max-width: 1000px;
}

.menu {
  width: 90%;
  grid-template-columns: repeat(6, 1fr);
}

.input {
  font-size: 1.2rem;
}

.selected-option {
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 400px;
  padding: 10px 15px;
  border: none;
  background-color: var(--primary-color);
  font-size: 1.3rem;
  color: var(--white-color);
  border-radius: 4px;
}

@media only screen and (max-width: 359px) {
  .meal-selection-btn,
  .list-group-item,
  .ticket-selection p {
    font-size: 5vw;
  }

  .selected-option {
    font-size: 6vw;
  }

  .ticket-page-heading {
    font-size: 8vw;
  }

  .menu {
    grid-template-columns: 1fr;
  }

  .input {
    align-items: center;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 450px) and (min-width: 360px) {
  .menu {
    grid-template-columns: repeat(2, 1fr);
  }

  .input {
    font-size: 5vw;
  }
}

@media only screen and (max-width: 524px) {
  .step-description,
  .circle-icon {
    font-size: 4vw;
  }

  .ticket-selection p {
    font-size: 3.2vw;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 450px) {
  .menu {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
  }
}
